<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>费用</string>
		<key>condition</key>
		<array>
			<string>全部</string>
			<string>0</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7+</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>稀有度</string>
		<key>condition</key>
		<array>
			<string>全部</string>
			<string>0Free</string>
			<string>1Common白卡</string>
			<string>2Rare蓝色稀有</string>
			<string>3Epic紫色史诗</string>
			<string>4Legendary橙色传奇</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>职业</string>
		<key>condition</key>
		<array>
			<string>all全部</string>
			<string>1德鲁伊</string>
			<string>2猎人</string>
			<string>3法师</string>
			<string>4圣骑士</string>
			<string>5牧师</string>
			<string>6潜行者</string>
			<string>7萨满</string>
			<string>8术士</string>
			<string>9战士</string>
			<string>10梦境</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>卡牌类型</string>
		<key>condition</key>
		<array>
			<string>all全部</string>
			<string>1minion随从</string>
			<string>2spell法术</string>
			<string>3weapon武器</string>
			<string>4hero英雄</string>
			<string>5heropower英雄技能</string>
			<string>6Enchantment附加效果</string>
		</array>
	</dict>
</array>
</plist>
