<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Cost</string>
		<key>condition</key>
		<array>
			<string>All</string>
			<string>0</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7+</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Rarity</string>
		<key>condition</key>
		<array>
			<string>全部</string>
			<string>Free</string>
			<string>Common</string>
			<string>Rare</string>
			<string>Epic</string>
			<string>Legendary</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Career</string>
		<key>condition</key>
		<array>
			<string>All</string>
			<string>Neutral</string>
			<string>Druid</string>
			<string>Hunter</string>
			<string>Mage</string>
			<string>Paladin</string>
			<string>Priest</string>
			<string>Rogue</string>
			<string>Shaman</string>
			<string>Warlock</string>
			<string>Warrior</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>CardType</string>
		<key>condition</key>
		<array>
			<string>All</string>
			<string>Minion</string>
			<string>Spell</string>
			<string>Weapon</string>
			<string>Hero</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Race</string>
		<key>condition</key>
		<array>
			<string>All</string>
			<string>Murloc</string>
			<string>Demon</string>
			<string>Beast</string>
			<string>Totem</string>
			<string>Pirate</string>
			<string>Dragon</string>
			<string>Mech</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>CardSet</string>
		<key>condition</key>
		<array>
			<string>All</string>
			<string>Curse of Naxxramas</string>
			<string>Goblins vs Gnomes</string>
		</array>
	</dict>
</array>
</plist>
