<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>费用</string>
		<key>condition</key>
		<array>
			<string>全部</string>
			<string>0</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7+</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>稀有度</string>
		<key>condition</key>
		<array>
			<string>0自带</string>
			<string>1普通</string>
			<string>2不确定</string>
			<string>3蓝色稀有</string>
			<string>4紫色传奇</string>
			<string>5金色史诗</string>
		</array>
	</dict>
</array>
</plist>
